@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Roboto:wght@500&display=swap");

@layer base {
	body {
		margin: 0;
		font-family: theme("fontFamily.primary");
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	code {
		font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
			monospace;
	}

	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background-color: #f1f1f1;
	}

	::-webkit-scrollbar-thumb {
		background-color: #383636;
		border-radius: 5px;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: rgb(0, 0, 0);
	}
}

@layer components {
	.page-content {
		@apply bg-white dark:bg-[#111111] relative transition-colors duration-300;
	}


	.page-content::before,
	.page-content::after {
		content: "";
		@apply absolute top-0 bottom-0 bg-[#fafafa] dark:bg-[#1a1a1a] border border-[#f4f4f5] dark:border-[#27272a] z-[1] transition-colors duration-300;

		width: calc((100% - 1200px) / 2);
	}

	.page-content::before {
		@apply left-0;
	}

	.page-content::after {
		@apply right-0;
	}

	.content-wrapper {
		@apply max-w-[1000px] mx-auto;
	}

	.title {
		@apply text-primary dark:text-[#f4f4f5] font-secondary text-[45px] font-bold w-[70%];
	}


	.subtitle {
		@apply pt-[10px] text-secondary dark:text-tertiary text-[16px] leading-[28px] w-[70%] mt-[25px];
	}


	.page-footer {
		@apply relative block;
	}

	.page-footer::before {
		content: "";
		@apply absolute left-0 right-0 border-t-2 border-tertiary dark:border-secondary;
	}


	@media (max-width: 1270px) {
		.page-content::before,
		.page-content::after {
			width: calc((100% - 90%) / 2);
		}

		.content-wrapper {
			@apply max-w-[90%] pl-[10%] pr-[10%];
		}
	}

	@media (max-width: 1024px) {
		.page-content::before,
		.page-content::after {
			width: calc((100% - 950px) / 2);
		}

		.content-wrapper {
			@apply max-w-[980px];
		}
	}

	@media (max-width: 800px) {
		.content-wrapper {
			@apply max-w-[90%] mx-auto px-[10px];
		}

		.page-content::before,
		.page-content::after {
			@apply hidden;
		}

		.title {
			@apply w-full;
		}

		.subtitle {
			@apply w-full;
		}
	}
}
